*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: PopLight;
  src: url("./fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: PopRegular;
  src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: PopMedium;
  src: url("./fonts/Poppins-Medium.ttf");
}

body {
  font-family: PopLight;
}

nav {
  min-height: auto;
  width: 100%;
  color: white;
  background-color: #333;
  display: flex;
  padding: 0px 40px;
  /*-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);*/
}

#icon_white {
  width: 35px;
  display: flex;
}

#help {
  padding: 7px;
  background-color: #555;
  color: #fff;
}

nav ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 0px 30px;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 10px 40px;
  cursor: pointer;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
nav ul li:hover {
  background: #555;
  color: #fff;
}
nav ul li ul {
  padding: 0;
  position: absolute;
  top: 37px;
  left: 0;
  width: 200px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  /*-moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;*/
  -transition: opacity 0.2s;
}
nav ul li ul li {
  background: #555;
  display: block;
  text-shadow: 0 -1px 0 #000;
}
nav ul li ul li:hover {
  background: #666;
}
nav ul li:hover ul {
  display: list-item;
  opacity: 1;
  visibility: visible;
}

.home {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(150deg, #666 0%, #666 50%, #444 50%, #444 100%);
}

.search-bar {
  text-align: center;
}

#search-input {
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 10px;
  min-height: 40px;
  min-width: 400px;
  padding-left: 10px;
}

#myInput {
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 10px;
  min-height: 40px;
  min-width: 400px;
  padding-left: 10px;
}

#data {
  /* Remove default list styling */
  list-style-type: none;
  padding: 20px;
  margin: 100px;
}

#data li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#data li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.footer {
  bottom: 0;
  position: relative;
  width: 100%;
  background: #333;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 50px 50px 100px;
}
.footer-list {
  list-style: none;
}
.footer-list-title {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-list-item {
  padding-top: 10px;
  color: rgb(172, 172, 172);
}
.footer-list-item:hover {
  color: #fff;
}
